@model Bom.Web.Identity.Models.LoginVm
@using Bom.Web.Identity.Mvc;
@{
    ViewData["Title"] = "Register";

    var layoutData = this.ViewData.LayoutData();
    var htmlService = layoutData.HtmlService;

    var linkProvider = new Bom.Web.Identity.IdentityLinkProvider(this.Url);
}


<br />
<div class="centerBox">

    <div class="lightBox">
        <div>
            <form action="@linkProvider.FacebookLoginLink" method="post">
                <button class="fbButton" >Login via Facebook</button>
                </form>
        </div>
    </div>
    <div style="text-align:center">or</div>
    <div class="lightBox">
        <form action="@linkProvider.AccountLoginLink" method="post">

            @Html.ValidationSummary(true)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>
                    Email
                    @Html.TextBoxFor(x => x.Username, new { maxlength = "255" })
                </label>
                @Html.ValidationMessageFor(x => x.Username)

            </div>
            <div class="form-group">
                <label>
                    Password
                    @Html.PasswordFor(x => x.Password, new { maxlength = "255" })
                </label>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.HiddenFor(x => x.TestField)

            </div>
            <div class="form-group">
                <button type="submit" >Login</button>
            </div>
        </form>
    </div>
    <span class="infoText">
        @htmlService.LocalizeHtml("Login.NoAccountYet", "You don't have an account yet?")
        <a href="@linkProvider.AccountRegisterLink" >@htmlService.LocalizeHtml("Login.Register", "Register")</a>
    </span>
</div>

