@model Bom.Web.Identity.Models.LoginVm
@using Bom.Web.Identity.Mvc;
@{
    ViewData["Title"] = "Register";

    var layoutData = this.ViewData.LayoutData();
    var htmlService = layoutData.HtmlService;

    var linkProvider = new Bom.Web.Identity.IdentityLinkProvider(this.Url);
}


<br />
<br />
<div class="centerBox">
    <div class="lightBox">

        <form action="@linkProvider.AccountLoginLink" method="post">


            @Html.ValidationSummary(true)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>
                    Email
                    @Html.TextBoxFor(x => x.Username, new { maxlength = "255" })
                </label>
                @Html.ValidationMessageFor(x => x.Username)

            </div>
            <div class="form-group">
                <label>
                    Password
                    @Html.PasswordFor(x => x.Password, new { maxlength = "255" })
                </label>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.HiddenFor(x => x.TestField)

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <div class="infoText">
        Welcome to 'Bom'. Login and enjoy.
    </div>
</div>

