@model Bom.Web.Identity.Models.RegisterVm
@using Bom.Web.Identity.Mvc;
@{
    ViewData["Title"] = "Register";

    var layoutData = this.ViewData.LayoutData();
    var htmlService = layoutData.HtmlService;

    var linkProvider = new Bom.Web.Identity.IdentityLinkProvider(this.Url);
}


<br />
<div class="centerBox">

    <div class="lightBox">
        <form action="@linkProvider.FacebookRegisterLink" method="post">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <button type="submit" class="fbButton">@htmlService.LocalizeHtml("Register.Register", "Register via Facebook")</button>
</div>
        </form>
    </div>
    <div style="text-align:center">or</div>
    <div class="lightBox">
        <form action="@linkProvider.AccountRegisterLink" method="post">


            @Html.ValidationSummary(true)
            <div asp-validation-summary="ModelOnly" ></div>
            <div>
                <label>
                    @Html.DisplayNameFor(x => x.Username)   <span style="text-align:right">  @Html.ValidationMessageFor(x => x.Username) </span>
                    @Html.TextBoxFor(x => x.Username, new { @type = "email", maxlength = "255" })
                </label>
            </div>
            <div>
                <label>
                    @Html.DisplayNameFor(x => x.Password)   <span style="text-align:right">
                        @Html.ValidationMessageFor(x => x.Password) </span>
                        @Html.PasswordFor(x => x.Password, new { maxlength = "255" })
                </label>
            </div>
            <div>
                <label>
                    @Html.DisplayNameFor(x => x.ConfirmPassword) <span style="text-align:right">
    @Html.ValidationMessageFor(x => x.ConfirmPassword) </span>
    @Html.PasswordFor(x => x.ConfirmPassword, new { maxlength = "255" })
</label>
            </div>
            <div>
                <button type="submit">@htmlService.LocalizeHtml("Register.Register", "Register")</button>
                <a href="@linkProvider.AccountRegisterLink">@htmlService.LocalizeHtml("Common.Cancel", "Cancel")</a>
            </div>
        </form>

    </div>



    <br />
    <br />
    <br />
    <br />
    <form action="@linkProvider.AccountLogoutLink" method="post">


        @Html.ValidationSummary(true)

        <div class="form-group">
            <button type="submit" value="Logout" >Logout (temp)</button>
        </div>
    </form>


</div>
