@using Bom.Web.Identity.Mvc;
@using System.Text.Encodings.Web;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var layoutData = this.ViewData.LayoutData();
    var htmlService = layoutData.HtmlService;
    var linkProvider = new Bom.Web.Identity.IdentityLinkProvider(this.Url);

    var userSession = Bom.Web.Identity.IdentityHelper.GetUserSession(this.User);
}

@if (userSession != null)
{
    Layout = "_LayoutApp.cshtml";

    <div id="root"></div>

    <script type="text/javascript">
            var i = {};
            i.APIUrl = '@Url.Content("~")';

            var u = {};
            u.Username = '@Html.Raw(JavaScriptEncoder.Default.Encode(userSession.User.Username))';
            u.Token = '@Html.Raw(JavaScriptEncoder.Default.Encode(userSession.Token))';

            var b = {};
            b.Info = i;
            b.User = u;

            window.bom = b;
    </script>


}
else
{


    @htmlService.FixedHtml("<h1>Bom</h1>")

    <a href="@linkProvider.AccountRegisterLink">Register</a>


    <a href="@linkProvider.AccountLoginLink">Login</a>

    <br />

    <form action="@linkProvider.AccountLogoutLink" method="post">


        @Html.ValidationSummary(true)

        <div class="form-group">
            <button type="submit" value="Logout">Logout (temp)</button>
        </div>
    </form>

}