@using Bom.Web.Identity.Mvc;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{



    var layoutData = this.ViewData.LayoutData();
    var htmlService = layoutData.HtmlService;

    var linkProvider = new Bom.Web.Identity.IdentityLinkProvider(this.Url);



}


@htmlService.FixedHtml("<h1>Bom</h1>")

<a href="@linkProvider.AccountRegisterLink">Register</a>


<a href="@linkProvider.AccountLoginLink">Login</a>

<br />

<form action="@linkProvider.AccountLogoutLink" method="post">


    @Html.ValidationSummary(true)

    <div class="form-group">
        <button type="submit" value="Logout">Logout (temp)</button>
    </div>
</form>